#toolset {
	display: none;
}


:root {
	--om-black: #141414;
	--om-white: #ffffff;
	--base-rem: 24;
	--base-font-size: max(calc(100vw*(var(--base-rem)/2336)), 20px);
	--typescale-mod: 1.125;
	--spacing-scale-mod: 1.3;
	--link-color: #ff3030;
	--link-color: #4498FF;

	--h1-size: calc(1rem * (pow(var(--typescale-mod), 5)));
	--h2-size: calc(1rem * pow(var(--typescale-mod), 4));
	--h3-size: calc(1rem * (pow(var(--typescale-mod), 3)));
	--h4-size: calc(1rem * pow(var(--typescale-mod), 2));

	--big-paragraph-size: calc(1rem * pow(var(--typescale-mod), 1));
	--paragraph-size: 1rem;
	--small-paragraph-size: calc(1rem * pow(var(--typescale-mod), -1));
	--caption-p-size: calc(1rem * pow(var(--typescale-mod), -2));

	--xxl-space: calc(1rem * pow(var(--typescale-mod), 5) * var(--spacing-scale-mod));
	--xl-space: calc(1rem * pow(var(--typescale-mod), 4) * var(--spacing-scale-mod));
	--l-space: calc(1rem * pow(var(--typescale-mod), 3) * var(--spacing-scale-mod));
	--m-space: calc(1rem * pow(var(--typescale-mod), 2) * var(--spacing-scale-mod));
	--s-space: calc(1rem * pow(var(--typescale-mod), 1) * var(--spacing-scale-mod));
	--xs-space: calc(1rem * pow(var(--typescale-mod), 0) * var(--spacing-scale-mod));
	--xxs-space: 1rem;
	--xxxs-space: calc(1rem * pow(var(--typescale-mod), -3));

	--body-padding: 2.5vw;
	--body-width: calc(100vw - (2 * var(--body-padding)));

	--numColumns: 12;
	--numGutters: calc(var(--numColumns) - 1);
	--gap-r: 1/4;
	--col-r: 3/4;
	--gutterSize: calc((var(--body-width) * var(--gap-r)) / var(--numGutters));
	--columnSize: calc((var(--body-width) * var(--col-r)) / var(--numColumns));

	/* 	Need o insert variables for:
	--big paragraph size:;
	*/

	background-color: var(--om-black);
	color: var(--om-white);

	font-size: var(--base-font-size);
	font-family: 'Helvetica Neue', arial, sans-serif;
	/* font-family: 'inter'; */
	font-weight: 400;
	line-height: var(--spacing-scale-mod);

	word-break: keep-all;
	word-wrap: normal;
	font-kerning: normal;
	margin: 0;



}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* TYPOGRAPHY */


p,
li {
	max-width: 70ch;
}

p,
ul,
ol {
	margin: 0;
	margin-bottom: var(--xs-space);
}

a p{
	margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	margin-bottom: var(--xs-space);

	font-weight: 700;
	line-height: 1.2;
	/* letter-spacing: -0.02em; */
}

h1 {
	font-size: var(--h1-size);
	letter-spacing: -0.02221361309em;
}

h2 {
	margin-top: var(--l-space);
	font-size: var(--h2-size);
	letter-spacing: -0.02189950908em;
}

h3 {
	margin-bottom: var(--xxs-space);
	font-size: var(--h3-size);
	letter-spacing: -0.02093429494em;
}

h4 {
	margin-bottom: var(--xxxs-space);
	font-size: var(--h4-size);
	letter-spacing: -0.0186522672em;
}

a {
	color: var(--link-color);
	text-decoration: underline 1px;
	text-underline-offset: 0.125em;
}

.big-paragraph {
	font-size: var(--big-paragraph-size);
	line-height: var(--spacing-scale-mod);
}


.semibold {
	font-weight: 600;
	letter-spacing: -0.0125em;
}

h1>small,
h2>small,
h3>small,
h4>small {
	font-size: 0.8em;
}

blockquote {
	font-size: calc(1rem * pow(var(--typescale-mod), 1));
	line-height: 1.4;

	max-width: 60ch;

	margin: 0.5em 0;
	padding: 0.5em 1em;
	border-left: 4px solid var(--link-color);
	/* background-color: rgba(84, 161, 254, 0.1); */
}

/* -- TYPOGRAPHY END --  */



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* LAYOUT */


.page_title {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

body {
	padding: 2.5vw;
	margin: 0;
}

header{
	margin-bottom: var(--xxl-space);
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--om-white);
}

#logo-link {
	display: flex;
	column-gap: var(--xs-space);
	align-items: center;
	text-decoration: none;
	color: var(--om-white);
	font-weight: 500;
}

#logo{
	margin-top: 0.3em;
	width: 3rem;
	height: 3rem;
	fill: var(--om-white);
}

#logo-link:hover #logo{
	fill:red;
}

#logo-link:hover{
	color: red;
}


#home-hero {
	display: grid;
	grid-template-columns: repeat(12, var(--columnSize));
	grid-template-rows: repeat(12, var(--columnSize));
	column-gap: var(--gutterSize);
	row-gap: var(--gutterSize);
	/* height: 100vh; */
}

#home-hero-portrait {
	grid-column: 1 / span 9;
	grid-row: 4 / span 6;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#home-hero #cvnContainer {
	grid-column: 3 / span 9;
	grid-row: 3 / span 9;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
#personal-intro{
	grid-column: 3 / span 4;
	grid-row: 1 / span 12;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* HOME */

.portfolio-gallery {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--s-space);
}

.portfolio-gallery-name {
	font-size: var(--h2-size);
}

.project-card * {
	margin: 0;
}

.project-card {
	margin-bottom: var(--m-space);
}

.project-name {
	font-size: var(--paragraph-size);
	margin-top: var(--xxxs-space);
}

.project-gallery-tags {
	font-size: var(--small-paragraph-size);
}



.mobile-only {
	display: block;
}

.mobile-tablet {
	display: block;
}

.tablet-desktop {
	display: none;
}

.desktop-only {
	display: none;
}

.imgdiv>img {
	width: 100% !important;
	height: auto !important;
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* PROJECTS */













@media screen and (min-width: 768px) {

	.tablet-desktop {
		display: block;
	}

	.portfolio-gallery {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--s-space);
	}

	.project-card * {
		margin: 0;
	}

	.project-card {
		margin-bottom: var(--m-space);
	}

	.project-name {
		font-size: var(--paragraph-size);
		margin-top: var(--xxxs-space);
	}

	.project-gallery-tags {
		font-size: var(--small-paragraph-size);
	}

	.mobile-only {
		display: none;
	}

}

@media screen and (min-width: 1024px) {

	.mobile-tablet {
		display: none;
	}

	.desktop-only {
		display: block;
	}

	.desktop-nav {
		list-style-type: none;
		margin: 0;
		margin-right:-16px;
		padding: 0;
		overflow: hidden;
		display: flex;
		justify-content: space-around;
	}


	.desktop-nav li a {
		display: block;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	.desktop-nav li a:hover {
		background-color: #555;
	}
}