#toolset {
	display: none;
}


:root {
	--om-black: rgba(20, 20, 20, 1);
	--om-black-80: rgba(20, 20, 20, 0.8);
	--om-black-50: rgba(20, 20, 20, 0.5);
	--om-white: #ffffff;
	--base-rem: 24;
	--base-font-size: max(calc(100vw*(var(--base-rem)/2336)), 20px);
	font-size: var(--base-font-size);

	--typescale-mod: 1.125;
	--spacing-scale-mod: 1.3;
	--link-color: #ff3030;
	--link-color: #4498FF;

	--h1-size: calc(1rem * (pow(var(--typescale-mod), 5)));
	--h2-size: calc(1rem * pow(var(--typescale-mod), 4));
	--h3-size: calc(1rem * (pow(var(--typescale-mod), 3)));
	--h4-size: calc(1rem * pow(var(--typescale-mod), 2));

	--big-paragraph-size: calc(1rem * pow(var(--typescale-mod), 1));
	--paragraph-size: 1rem;
	--small-paragraph-size: calc(1rem * pow(var(--typescale-mod), -1));
	--caption-p-size: calc(1rem * pow(var(--typescale-mod), -2));

	--xxl-space: calc(1rem * pow(var(--typescale-mod), 5) * var(--spacing-scale-mod));
	--xl-space: calc(1rem * pow(var(--typescale-mod), 4) * var(--spacing-scale-mod));
	--l-space: calc(1rem * pow(var(--typescale-mod), 3) * var(--spacing-scale-mod));
	--m-space: calc(1rem * pow(var(--typescale-mod), 2) * var(--spacing-scale-mod));
	--s-space: calc(1rem * pow(var(--typescale-mod), 1) * var(--spacing-scale-mod));
	--xs-space: calc(1rem * pow(var(--typescale-mod), 0) * var(--spacing-scale-mod));
	--xxs-space: 1rem;
	--xxxs-space: calc(1rem * pow(var(--typescale-mod), -3));

	--body-padding: 5vw;
	--body-width: calc(100vw - (2 * var(--body-padding)));
	--body-height: calc(100vh - var(--body-padding));

	--num-cols: 12;
	--num-rows: 12;
	--gap-r: 1/4;
	--col-row-r: 3/4;

	--num-col-gaps: calc(var(--num-cols) - 1);
	--num-row-gaps: calc(var(--num-rows) - 1);

	--col-gap: calc((var(--body-width) * var(--gap-r)) / var(--num-col-gaps));
	--row-gap: calc((var(--body-height) * var(--gap-r)) / var(--num-row-gaps));
	;

	--columnSize: calc((var(--body-width) * var(--col-row-r)) / var(--num-cols));
	--rowsize: calc((var(--body-height) * var(--col-row-r)) / var(--num-rows));


	/* 	Need o insert variables for:
	--big paragraph size:;
	*/

	background-color: var(--om-black);
	color: var(--om-white);

	font-family: 'Helvetica Neue', arial, sans-serif;
	font-family: 'Helvetica Neue', arial, sans-serif;

	/* font-family: 'inter'; */
	font-weight: 400;
	line-height: var(--spacing-scale-mod);

	word-break: keep-all;
	word-wrap: normal;
	font-kerning: normal;
	margin: 0;

}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 700,
		'GRAD' 0,
		'opsz' 40;
	background: transparent;
	border: none;
	font-size: inherit;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* TYPOGRAPHY */


p,
li {
	max-width: 70ch;
}

p,
a {
	font-size: var(--paragraph-size);
}

p,
ul,
ol {
	margin: 0;
	margin-bottom: var(--xs-space);
}

a p {
	margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	margin-bottom: var(--xs-space);

	font-weight: 700;
	line-height: 1.2;
	/* letter-spacing: -0.02em; */
}

h1 {
	font-size: var(--h1-size);
	letter-spacing: -0.02221361309em;
}

h2 {
	margin-top: var(--l-space);
	font-size: var(--h2-size);
	letter-spacing: -0.02189950908em;
}

h3 {
	margin-bottom: var(--xxs-space);
	font-size: var(--h3-size);
	letter-spacing: -0.02093429494em;
}

h4 {
	margin-bottom: var(--xxxs-space);
	font-size: var(--h4-size);
	letter-spacing: -0.0186522672em;
}

a {
	color: var(--link-color);
	text-decoration: underline 1px;
	text-underline-offset: 0.125em;
}

.big-paragraph {
	font-size: var(--big-paragraph-size);
	line-height: var(--spacing-scale-mod);
}


.semibold {
	font-weight: 500;
	letter-spacing: -0.0125em;
}

h1>small,
h2>small,
h3>small,
h4>small {
	font-size: 0.8em;
}

blockquote {
	font-size: calc(1rem * pow(var(--typescale-mod), 1));
	line-height: 1.4;

	max-width: 60ch;

	margin: 0.5em 0;
	padding: 0.5em 1em;
	border-left: 4px solid var(--link-color);
	/* background-color: rgba(84, 161, 254, 0.1); */
}


/* Misc. */

.page_title {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

body {
	padding: var(--body-padding);
	margin: 0;
}

body.no-scroll {
	overflow: hidden;
}

button.icon-only-button {
	font-variation-settings:
		'FILL' 0,
		'wght' 700,
		'GRAD' 0,
		'opsz' 36;
	background: transparent;
	border: none;
	cursor: pointer;
	color: var(--om-white);
	margin: 0;
	padding: 0;
	font-size: 36px;
}



/* NAV */

header {
	margin-bottom: var(--row-gap);
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--om-white);
}

#mobile-nav {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--om-black);
	z-index: 998;
	background-image: url("../assets/mobile nav bg.png");
	background-size: 100% 100%;
}

#mobile-nav.active {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

#open-mobile-nav {
	background: transparent;
	border: none;
	color: var(--om-white);

}

#close-mobile-nav {
	align-self: flex-end;
	background: transparent;
	border: none;
	color: var(--om-white);

}

#mobile-nav-main {
	background-color: var(--om-black);
	grid-column: 2 / span 3;
	padding: 10vw;
	padding-left: 15vw;
	display: flex;
	flex-direction: column;
	row-gap: var(--l-space);
	align-items: center;
}

#mobile-nav-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: var(--m-space);
	align-items: flex-start;
}

.mobile-nav-links a {
	text-decoration: none;
	color: var(--om-white);
	font-size: var(--h2-size);
	font-weight: 500;
}




#logo-link {
	display: flex;
	column-gap: 1em;
	align-items: center;
	text-decoration: none;
	color: var(--om-white);
	font-weight: 400;
	letter-spacing: 0.0125em;
}

#logo {
	width: 36px;
	height: 36px;
	fill: var(--om-white);
}

#logo-link:hover #logo {
	fill: var(--link-color);
}

#logo-link:hover {
	color: var(--link-color);
}





/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* HOME */
#home-hero {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(11, var(--rowsize)) minmax(min-content, var(--rowsize));
	column-gap: var(--col-gap);
	row-gap: var(--row-gap);

}

#home-hero-portrait {
	grid-column: 3 / span 8;
	grid-row: 5 / span 4;
	overflow: hidden;
	/* width: 100%; */
	/* height: 100%; */
}

#home-hero #cnvContainer {
	grid-column: 2 / span 10;
	grid-row: 6 / span 2;
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: -1;

}

#personal-intro {
	grid-column: 1 / span 12;
	grid-row: 8 / -1;
	height: fit-content;
}

.portfolio-gallery {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--s-space);
}

.portfolio-gallery-name {
	font-size: var(--h2-size);
}

.project-card * {
	margin: 0;
}

.project-card {
	margin-bottom: var(--m-space);
}

.project-name {
	font-size: var(--paragraph-size);
	margin-top: var(--xxxs-space);
}

.project-gallery-tags {
	font-size: var(--small-paragraph-size);
}



.mobile-only {
	display: block;
}

.mobile-tablet {
	display: block;
}

.tablet-desktop {
	display: none;
}

.desktop-only {
	display: none;
}

.imgdiv>img {
	width: 100% !important;
	height: auto !important;
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* PROJECTS */













@media screen and (min-width: 768px) {

	body {
		--body-padding: 3vw;
		--body-width: calc(100vw - (2 * var(--body-padding)));
		--body-height: calc(100vh - var(--body-padding));

		--col-gap: calc((var(--body-width) * var(--gap-r)) / var(--num-col-gaps));
		--row-gap: calc((var(--body-height) * var(--gap-r)) / var(--num-row-gaps));

		--columnSize: calc((var(--body-width) * var(--col-row-r)) / var(--num-cols));
		--rowsize: calc((var(--body-height) * var(--col-row-r)) / var(--num-rows));
	}

	.mobile-only {
		display: none;
	}

	.tablet-desktop {
		display: block;
	}

	#home-hero-portrait {
		grid-column: 1 / span 6;
		grid-row: 2 / span 4;
	}

	#home-hero #cnvContainer {
		grid-column: 4 / span 6;
		grid-row: 1 / span 6;
	}

	#personal-intro {
		grid-column: 7 / span 5;
		grid-row: 3 / span 3;
	}


	.portfolio-gallery {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--s-space);
	}

	.project-card * {
		margin: 0;
	}

	.project-card {
		margin-bottom: var(--m-space);
	}

	.project-name {
		font-size: var(--paragraph-size);
		margin-top: var(--xxxs-space);
	}

	.project-gallery-tags {
		font-size: var(--small-paragraph-size);
	}

}



@media screen and (min-width: 1024px) {

	body {
		--body-padding: 2vw;
	}

	.mobile-tablet {
		display: none;
	}

	.desktop-only {
		display: block;
	}

	nav {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: var(--col-gap);
	}

	#desktop-nav {
		list-style-type: none;
		margin: 0;
		padding: 0;
		grid-column: 9 / span 4;
		display: flex;
		justify-content: space-between;
	}

	#desktop-nav li a {
		display: block;
		text-align: left;
		text-decoration: none;
		color: var(--om-white);
		font-size: var(--paragraph-size);
		font-weight: 400;
	}

	#desktop-nav li a:hover {
		color: var(--link-color);
	}

	#logo-link {
		grid-column: 1 / span 3;
		padding-right: 1em;
		width: fit-content;
	}

	#home-hero-portrait {
		grid-column: 3 / span 5;
		grid-row: 4 / span 5;
	}

	#home-hero #cnvContainer {
		grid-column: 5 / span 6;
		grid-row: 3 / span 6;
	}

	#personal-intro {
		grid-column: 1 / span 6;
		grid-row: 9 / -1;
	}
}