
/* testing below*/

body>div.main_container>div.content_container>div:nth-child(1)>div>div,
body>div.main_container>div.pinned.pinned_top>div {
	max-width: 1920px;

}




/* testing above*/



body>div.main_container>div.pinned.pinned_top>div>div.page.container.container_width.clearfix {
	width: 225px;
	overflow: visible;
}

body>div.main_container>div.pinned.pinned_top>div>div.page.container.container_width.clearfix.pointer-events-auto.allow-scroll>bodycopy {
	padding-right: 0;
}


/* !!!!! */
strong,
b {
	letter-spacing: 0.003em;
}





/* MIGHT NOT NEED

h1+*,
h2+*,
h3+*,
h4+*,
h5+*,
h6+*,
.no_t_m_children>*:not(details) {
	margin-top: 0;
	padding-top: 0;
} */

/* 
small,
.text_small {
	letter-spacing: -0.007307413808;
	font-size: 0.8rem;
} */

.semibold {
	font-weight: 600;
	letter-spacing: -0.0125em;
}

h1>small,
h2>small,
h3>small,
h4>small {
	font-size: 0.8em;
	font-weight: 400;
}


