/* body > div.main_container > div.content_container > div:nth-child(1) > div > div > div.page.container.container_width >  */
main>div {
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {

    /* body > div.main_container > div.content_container > div:nth-child(1) > div > div > div.page.container.container_width >  */
    main>div {
        grid-template-columns: 1fr 1fr;
        column-gap: 5%;
    }

    /* body > div.main_container > div.content_container > div:nth-child(1) > div > div > div.page.container.container_width >  */
    main>div>* {
        grid-column: 1 / -1
    }

    .imgdiv {
        grid-column: '';
    }
}